@model Library.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
           <h3> @Html.DisplayFor(model => model.Title)</h3>
        </dd>
       <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Authors.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Authors.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ganre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ganre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Snippet)
        </dt>
        <dd class = "col-sm-10">
            <div contenteditable="true"><q>@Html.DisplayFor(model => model.Snippet)</q></div>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
           @*  @{
                if (Model.Ratings.Count > 0)
                {
                    <p>The overall rating is @Model.Title is @Model.OverallRating</p>
                }
                else
                {
                    <p>Be the first to rate @Model.Title </p>

                }
            }
             @{for (int i = 1; i < 6; i++)
                    {
                       // @Html.ActionLink("<i class='fa@(Model.OverallRating<i?'-regular':'-solid') fa-star'></i>", "SetRating", "Rating", new {rank=@i,bookId=@Model?.BookID})
                        
                        <a asp-action="SetRating" asp-controller="Ratings" 
                        asp-route-rank="@i"  asp-route-bookid="@Model?.BookID" >
                            <i class="fa@(Model.OverallRating<i?"-regular":"-solid") fa-star"></i>
                         </a>
                            
                    }
            }
             *@

            @{
                if (Model.Ratings.Count > 0)
                {
                    <p>Обшата оценка на "@Model.Title" е  @Model.OverallRating.ToString("0.00") от 5
                    @for (int i = 1; i < 6; i++)
                    {
                        // @Html.ActionLink("<i class='fa@(Model.OverallRating<i?'-regular':'-solid') fa-star'></i>", "SetRating", "Rating", new {rank=@i,bookId=@Model?.BookID})

                        <i class="fa@(Model.OverallRating<i?"-regular":"-solid") fa-star"></i>
                    }
                    </p>
                }
                else
                {
                    <p>Бъди първия, който ще оцени  "@Model.Title" </p>

                }
            }
             <h3>Дайте вашата оценка</h3>   
           <form asp-action="SetRating" asp-controller="Rating"  asp-route-bookid="@Model?.BookID"
           >
                
                    @for (int i = 1; i < 6; i++)
                    {
                        <label class="container"> @i
                        <input type="radio" id="Rank" name="Rank" value="@i" /> 
                        <span class="checkmark"></span>
                       </label>
                    }
                    <input type="submit" value="Гласувай" />
                    </form>
           
           
            
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BookID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
